<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/cv">CV</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

  <div class="container">
  
    {{ content }}
  
  </div>
  
  <footer>
    <ul>
      <li>&copy; Lachlan Ng 2020</li>
    </ul>
  </footer>
  </body>
</html>